### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Terraform ###
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.log

### Service Account ###
service-account-vxer.json